<ul class="sidebar">
    <ul class="block">
        <h5>Fundations</h5>
        <li>item 1</li>
        <li>item 2</li>
        <li>item 3</li>
    </ul>
    <ul class="block">
        <h5>Guidelines</h5>
        <li>item 1</li>
        <li>item 2</li>
        <li>item 3</li>
        <li>item 1</li>
        <li>item 2</li>
        <li>item 3</li>
    </ul>
    <ul class="block">
        <h5>Components</h5>
        <li>item 1</li>
        <li>item 2</li>
        <li>item 3</li>
        <li>item 1</li>
        <li>item 2</li>
        <li>item 3</li>
        <li>item 1</li>
        <li>item 2</li>
        <li>item 3</li>
        <li>item 1</li>
        <li>item 2</li>
        <li>item 3</li>
        <li>item 1</li>
        <li>item 2</li>
        <li>item 3</li>
        <li>item 1</li>
        <li>item 2</li>
        <li>item 3</li>
        <li>item 1</li>
        <li>item 2</li>
        <li>item 3</li>
    </ul>
</ul>