<ul class="sidebar">
    <ul class="block">
        <h5>Foundations</h5>
        {% for page in site.pages %}
            {% if page.categories contains 'foundations' %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endif %}                
        {% endfor %}
    </ul>
    <ul class="block">
        <h5>Components</h5>
        {% for page in site.pages %}
            {% if page.categories contains 'components' %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endif %}                
        {% endfor %}
    </ul>
</ul>

