.sidebar{
    width: 264px;
    height: 100%;
    background: #fff;
    position: fixed;
    border: 1px solid #ddd;
    padding: 40px 0 40px 0px;
    z-index: 1;
    overflow: scroll;
}

.sidebar .block{
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding: 0 0 24px 0;
    margin: 0 0 40px 0;

    &:last-child{
        border: none;
    }
}

.sidebar h5{
    margin: 0 0 16px 0;
    padding: 0px 48px 0px 24px;
}

.sidebar li{
    color: #757575;
    list-style: none;
    padding: 16px 48px 16px 24px;
    line-height: 16px;

    &:hover,
	&:focus,
	&:active {
        color: $color-dark;
        cursor: pointer;
        background: #f4f4f4;
    }
}

.sidebar a{
    border-bottom: 0;
}

.sidebar ul li:before {
    content: '';
}

// ::-webkit-scrollbar {
//     width: 4px;
//     height: 4px;
//   }
//   ::-webkit-scrollbar-button {
//     width: 0px;
//     height: 0px;
//   }
//   ::-webkit-scrollbar-thumb {
//     background: #ddd;
//     border: 0px none #ffffff;
//     border-radius: 40px;
//   }
//   ::-webkit-scrollbar-thumb:hover {
//     background: #ddd;
//   }
//   ::-webkit-scrollbar-thumb:active {
//     background: #ddd;
//   }
//   ::-webkit-scrollbar-track {
//     background: #fff;
//     border: 0px none #ffffff;
//     border-radius: 0px;
//   }
//   ::-webkit-scrollbar-track:hover {
//     background: #fff;
//   }
//   ::-webkit-scrollbar-track:active {
//     background: #fff;
//   }
//   ::-webkit-scrollbar-corner {
//     background: transparent;
//   }