/**
 * Icons (objects/_icons.scss)
 */

/* ----- General ----- */
@font-face {
	font-family: 'Telefonica';
	src: url('../fonts/telefonica/TelefonicaWeb-Bold.woff') format('woff');
	font-weight: bold;
	font-style: bold;
}

@font-face {
	font-family: 'Telefonica';
	src: url('../fonts/telefonica/TelefonicaWeb-Light.woff') format('woff');
	font-weight: lighter;
	font-style: lighter;
}

@font-face {
	font-family: 'Telefonica';
	src: url('../fonts/telefonica/TelefonicaWeb-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}